{% extends 'base.html' %}

{% block content %}
<!-- Main Section Start -->


<div class="main-section">
    <div class="page-section py-0 md:py-6" style="margin-top: 0px; margin-bottom: 0px;">
        <div class="container mx-auto">
            <div class="flex justify-center">
                <div class="w-full md:w-2/3 lg:w-1/2 xl:w-2/5">
                    <div class="user-dashboard loader-holder p-4 md:p-8">
                        <div class="user-holder">
                            <h4 class="text-center mb-4">Reset Your Password</h4>
                            <hr>
                            <div id="restaurant-sets-holder">
                                <form action="{% url 'reset_password' %}" class="form-fields-set foodbakery-dev-restaurant-form" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                        <li>
                                            <div class="grid grid-cols-12 gap-4">
                                                <div class="col-span-12">
                                                    <div class="field-holder">
                                                        <label class="block mb-1">Password</label>
                                                        <input type="password" name="password" placeholder="Set new password" class="form-input">
                                                    </div>
                                                </div>
                                                <div class="col-span-12">
                                                    <div class="field-holder">
                                                        <label class="block mb-1">Confirm Password</label>
                                                        <input type="password" name="confirm_password" placeholder="Confirm new password" class="form-input">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="grid grid-cols-12 gap-4">
                                                <div class="col-span-12">
                                                    <div class="field-holder">
                                                        <div class="payment-holder">
                                                            <button type="submit" id="btn-next-restaurant-information" class="bg-primary text-white px-4 py-2 rounded-full hover:bg-primary-dark">Reset Password</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid grid-cols-12 gap-4">
                                                <div class="col-span-12">
                                                    <!-- Load message -->
                                                    {% include 'include/alerts.html' %}
                                                </div>
                                            </div>
    
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->
{% endblock %}