{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polarizasyon</title>
    <!-- Boostrap Css -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </head>
    <!-- Style Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">

</head>

<body>



    <div class="h-screen flex items-center justify-center">
        <div class="bg-white p-10 rounded-lg shadow-lg">
            <h1 class="text-6xl font-bold mb-5 ">404</h1>
            <p class="text-4xl text-sky-700">Not Found</p>
        </div>
    </div>



</body>

</html>