{% extends 'base.html' %}

{% block content %}
<!-- Main Section Start -->



<div class="container flex justify-center">
    
    <form style="width: 17rem;" action="{% url 'forgot_password' %}" method="post">
        {% csrf_token %}
        <div class="flex justify-center">
            <h1 class="text-3xl font-bold">Forgot your password?</h1>
        </div>
        <div class="flex justify-center">
            <p class="text-center text-gray-500 text-sm">Please enter your email address and we will send you a link to reset your password.</p>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="block mb-1 font-medium text-gray-700">Email address</label>
          <input type="email" class="border-2 border-gray-300 rounded-md w-full py-2 px-3 focus:outline-none focus:ring focus:ring-indigo-500 focus:border-indigo-500" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        </div>
        
        <div class="flex justify-center">
            <button type="submit" class="btn bg-blue-500 text-white font-bold py-2 px-4 rounded">Send Mail</button>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- Load message -->
                {% include 'include/alerts.html' %}
            </div>
        </div>
        
    </form>
    
</div>
<!-- Main Section End -->
{% endblock %}